.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: start; */
  overflow: hidden;
  flex: auto;
  flex-wrap: wrap;
}

.v {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .v {
    flex-direction: column;
    padding-top: 100px;
  }
}

img {
  display: inline-flex;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  width: 100%;
  /* border: 1px solid #7a1e1e; */
}

.container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.container p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #1d3461;
  font-weight: 500;
}

.container a {
  color: #ff3e00;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.container a:visited {
  color: #ff3e00;
}

.container a:active {
  color: #ff3e00;
}

.container a:focus {
  color: #b4593b;
}

.container a:link {
  color: #ff3e00;
}

/* aniamted container  */

/* container animation */

.container {
  animation: container 1s ease-in-out;
}

@keyframes container {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* container children delayed animation */

.container > * {
  animation: container-child 1s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

@keyframes container-child {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* .container h1 {
  animation: container-h1 1s ease-in-out;
}

.container p {
  animation: container-p 1s ease-in-out 1s;
}

.container a {
  animation: container-a 1s ease-in-out 2s;
}
.container img{
  animation: container-img 1s ease-in-out 3s;
}
@keyframes container-h1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */

h1 {
  background: linear-gradient(
    to right,
    #e8133e,
    #ff9900,
    #ffcc00,
    #00c13c,
    #0066ff,
    #4a14e3
  );
  background-size: 0 3px, 0 3px;
  background-position: 0 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  color: #fb8500;
}

h1:hover {
  background-size: 100% 3px, 100% 3px;
}

.status {
  background: #fb8500;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 700;
  color: #1d3461;
}
