html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f8f7ff;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  cursor: url(https://i.imgur.com/bzdNjDu.png), auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
#app {
  height: 100%;
}
